{%extends 'base.html'%}
{%load static%}

{%block content%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Online Diary</title>

<style>
.cover-image{
   
   background-image: url("{%static 'images/background.png'%}") !important; 
   background-position: center !important; 
   background-repeat: no-repeat !important;  
   background-attachment: fixed !important; 
   background-size: cover !important; 
   background-color: #464646 !important;
  
 }
 


.custom{
    position: absolute;
}

.colorcustom:hover{
    opacity: 0.9;
    background-color:#077AFB !important;
    color: whitesmoke !important;
}
</style>


    <!-- <div>
    
    <img src="{%static 'images/background.png'%}" class="img-fluid img-responsive cover-image">
        <div class="custom">sdfdsf</div>

</div> -->


<div class="cover-image img-fluid img-responsive">
    <div class="mask" style="background: rgba(0, 0, 0, 0.5)">
        <div class="d-flex justify-content-center align-items-center" style="height: 710px;">
          <div class="text-white" style="font-family: roboto;">
            <h3 class="text-center">"Remembering all the past memories is difficult, so lets write diary </h3>
          <h3 class="text-center">and capture our memories to experience in future."</h3>
           
            <div >
                <div class="col text-center">
                    <a href="{%url 'create'%}"><button type="submit" class="btn btn-primary btn-lg mr-3" style="font-size: small; width: 150px;">Create</button></a>
                    <a href="{%url 'signup'%}"><button type="submit" class="btn  bg-white btn-lg ml-3 colorcustom" style="color: blue; font-size: small; width: 150px;">Register</button></a>
               
            </div>
          </div>
        </div>
      </div>


{%endblock content%}