
<style>
    .custom a{
        margin: 10px;
    }

@media only screen and (max-width: 600px) {
  .nav-item {
    text-align: center !important;
    margin: 1% !important;
  }
}

</style>

<meta charset="utf- ">
<meta name="viewport" content="width=device-width,initial-scale= , shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/ . . /css/\bootstrap.min.css"integrity="sha-MCw/SFnGE fJT GXwEOngsV ZtNXFoaoApmYmi\uXoPkFOJwJ ERdknLPMO"crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{% url 'home' %}" style="font-family: Redressed;"><span style="color: yellowgreen;">Online</span> Diary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">

                
                <li class="nav-item px-1">
                    <a href="{%url 'home'%}" class="btn btn-outline-secondary" style="width: 100px;">Home</a>
                </li>
                <li class="nav-item px-1">
                    <a href="{%url 'create'%}" class="btn btn-outline-secondary" style="width: 100px;">+ Create</a>
                </li>
                <li class="nav-item px-1">          
                    <a href="{%url 'dairy'%}" class="btn btn-outline-secondary" style="width: 100px;">Diary</a>
                </li>  
                    
                
          
                
            
        
            {% if user.is_authenticated %}
                
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="userMenu"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                            <div class="dropdown-menu dropdown-menu-right"aria-labelledby="userMenu"><a class="dropdown-item"href="{% url 'password_change'%}">Change password</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                            </div>
                    </li>
                

             
            {% else %}
           
           
                <li class="nav-item px-1">

                    <a href="{%url 'signup'%}" class="btn btn-outline-secondary" style="width: 100px;">Sign Up</a>
                </li>
                <li class="nav-item px-1">
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary" style="width: 100px;">Sign In</a>
                </li>
               

                
            </ul>
            


         

            
    {% endif %}
    
</div>
</nav>
<div class="container">

</div>